/*清楚默认样式*/
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,menu,nav,section,font{margin:0; padding:0; border:none; font-family: "宋体"; }
ul,li,ol{ list-style-type: none; }
a{text-decoration:none; color: #474747;}
a:hover{color:#ff725f;}
/*设置根字体大小*/
body {font-size: 12px;}
/*设置页面背景颜色*/
body{background-color: #fff;}


/*背景色*/
.wm-color-ff{background-color: #ffffff;}
.wm-color-00{background-color: #000000;}
.wm-color-11{background-color: #111111;}
.wm-color-22{background-color: #222222;}
.wm-color-33{background-color: #333333;}
.wm-color-44{background-color: #444444;}
.wm-color-55{background-color: #555555;}
.wm-color-66{background-color: #666666;}
.wm-color-77{background-color: #777777;}
.wm-color-88{background-color: #888888;}
.wm-color-99{background-color: #999999;}
.wm-color-e9{background-color: #e9e9e9;}
.wm-color-f2{background-color: #f2f2f2;}
.wm-color-e5{background-color: #e5e5e5;}
.wm-color-f8{background-color: #f8f8f8;}
.wm-color-5c{background-color: #565d63;}
.wm-color-f1{background-color: #f1f1f1;}
.wm-color-f2{background-color: #f2f2f2;}
.wm-color-f3{background-color: #f3f3f3;}
.wm-color-f4{background-color: #f4f4f4;}
.wm-color-f5{background-color: #f5f5f5;}
.wm-color-f6{background-color: #f6f6f6;}
.wm-color-f7{background-color: #f7f7f7;}
.wm-color-f8{background-color: #f8f8f8;}
.wm-color-f9{background-color: #f9f9f9;}
.wm-color-fa{background-color: #fafafa;}
.wm-color-fb{background-color: #fbfbfb;}
.wm-color-f13340{background-color: #f13340;}
.wm-color-7cc253{background-color: #7cc253;}
.wm-color-ff725f{background-color: #ff725f;}
.wm-color-ffe8e5{background-color: #ffe8e5;}


/*字体大小*/
.wm-size12{font-size: 12px;}
.wm-size13{font-size: 13px;}
.wm-size14{font-size: 14px;}
.wm-size15{font-size: 15px;}
.wm-size16{font-size: 16px;}
.wm-size17{font-size: 17px;}
.wm-size18{font-size: 18px;}
.wm-size19{font-size: 19px;}
.wm-size20{font-size: 20px;}
.wm-size21{font-size: 21px;}
.wm-size22{font-size: 22px;}
.wm-size23{font-size: 23px;}
.wm-size24{font-size: 24px;}
.wm-size25{font-size: 25px;}
.wm-size26{font-size: 26px;}
.wm-size27{font-size: 27px;}
.wm-size28{font-size: 28px;}
.wm-size29{font-size: 29px;}
.wm-size30{font-size: 30px;}
.wm-size32{font-size: 32px;}
.wm-size34{font-size: 34px;}
.wm-size35{font-size: 35px;}



/*文字颜色*/
.wm-ft-ff{color: #ffffff;}
.wm-ft-47{color: #474747;}
.wm-ft-ce{color: #cecece;}
.wm-ft-dc{color: #dcdcdc;}
.wm-ft-3e{color: #3e3e3e;}
.wm-ft-6e{color: #6e6e6e;}
.wm-ft-a5{color: #a5a5a5;}
.wm-ft-90{color: #909090;}
.wm-ft-20{color: #202020;}
.wm-ft-25{color: #252525;}
.wm-ft-32{color: #323232;}
.wm-ft-63{color: #636363;}
.wm-ft-68{color: #686666;}
.wm-ft-8c{color: #8c8c8c;}
.wm-ft-93{color: #939393;}
.wm-ft-22{color: #222222;}
.wm-ft-33{color: #333333;}
.wm-ft-44{color: #444444;}
.wm-ft-55{color: #555555;}
.wm-ft-66{color: #666666;}
.wm-ft-77{color: #777777;}
.wm-ft-88{color: #888888;}
.wm-ft-99{color: #999999;}
.wm-ft-ff725f{color: #ff725f;}
.wm-ft-ff725f{color: #ff725f;}
.wm-ft-bdbdbd{color: #bdbdbd;}
.wm-ft-e5e5e5{color: #e5e5e5}
.wm-ft-434d55{color: #434d55;}
.wm-ft-00a4df{color: #00a4df;}
.wm-ft-0070c9{color: #0070c9;}
.wm-ft-ed0000{color: #ed0000;}
.wm-ft-e5e5e5{color: #e5e5e5;}
.wm-ft-454d55{color: #454d55;}
.wm-ft-dadada{color: #dadada;}

/*字体粗细*/
.wm-weight100{font-weight: 100;}
.wm-weight200{font-weight: 200;}
.wm-weight300{font-weight: 300;}
.wm-weight400{font-weight: 400;}
.wm-weight500{font-weight: 500;}
.wm-weight600{font-weight: 600;}
.wm-weight600{font-weight: 600;}
.wm-weight700{font-weight: 700;}
.wm-weight800{font-weight: 800;}
.wm-weight900{font-weight: 900;}


/*宽度高度100%*/
.wm-height100{height: 100%;}
.wm-width100{width: 100%;}
.wm-width99{width: 99%;}
.wm-width98{width: 98%;}
.wm-width97{width: 97%;}
.wm-width96{width: 96%;}
.wm-width95{width: 95%;}
.wm-width94{width: 94%;}
.wm-width93{width: 93%;}
.wm-width92{width: 92%;}
.wm-width91{width: 91%;}
.wm-width90{width: 90%;}
.wm-width89{width: 89%;}
.wm-width88{width: 88%;}
.wm-width87{width: 87%;}
.wm-width86{width: 86%;}
.wm-width85{width: 85%;}
.wm-width84{width: 84%;}
.wm-width83{width: 83%;}
.wm-width82{width: 82%;}
.wm-width81{width: 81%;}
.wm-width80{width: 80%;}
.wm-width79{width: 79%;}
.wm-width78{width: 78%;}
.wm-width77{width: 77%;}
.wm-width76{width: 76%;}
.wm-width75{width: 75%;}
.wm-width74{width: 74%;}
.wm-width73{width: 73%;}
.wm-width72{width: 72%;}
.wm-width71{width: 71%;}
.wm-width70{width: 70%;}
.wm-width69{width: 69%;}
.wm-width68{width: 68%;}
.wm-width67{width: 67%;}
.wm-width66{width: 66%;}
.wm-width65{width: 65%;}
.wm-width64{width: 64%;}
.wm-width63{width: 63%;}
.wm-width62{width: 62%;}
.wm-width61{width: 61%;}
.wm-width60{width: 60%;}
.wm-width59{width: 59%;}
.wm-width58{width: 58%;}
.wm-width57{width: 57%;}
.wm-width56{width: 56%;}
.wm-width55{width: 55%;}
.wm-width54{width: 54%;}
.wm-width53{width: 53%;}
.wm-width52{width: 52%;}
.wm-width51{width: 51%;}
.wm-width50{width: 50%;}
.wm-width49{width: 49%;}
.wm-width48{width: 48%;}
.wm-width47{width: 47%;}
.wm-width46{width: 46%;}
.wm-width45{width: 45%;}
.wm-width44{width: 44%;}
.wm-width43{width: 43%;}
.wm-width42{width: 42%;}
.wm-width41{width: 41%;}
.wm-width40{width: 40%;}
.wm-width31{width: 31%;}
.wm-width40{width: 40%;}
.wm-width39{width: 39%;}
.wm-width38{width: 38%;}
.wm-width37{width: 37%;}
.wm-width36{width: 36%;}
.wm-width35{width: 35%;}
.wm-width34{width: 34%;}
.wm-width33{width: 33%;}
.wm-width32{width: 32%;}
.wm-width31{width: 31%;}
.wm-width30{width: 30%;}
.wm-width29{width: 29%;}
.wm-width28{width: 28%;}
.wm-width27{width: 27%;}
.wm-width26{width: 26%;}
.wm-width25{width: 25%;}
.wm-width24{width: 24%;}
.wm-width23{width: 23%;}
.wm-width22{width: 22%;}
.wm-width21{width: 21%;}
.wm-width20{width: 20%;}
.wm-width19{width: 19%;}
.wm-width18{width: 18%;}
.wm-width17{width: 17%;}
.wm-width16{width: 16%;}
.wm-width15{width: 15%;}
.wm-width14{width: 14%;}
.wm-width13{width: 13%;}
.wm-width12{width: 12%;}
.wm-width11{width: 11%;}
.wm-width10{width: 10%;}
.wm-width9{width: 9%;}
.wm-width8{width: 8%;}
.wm-width7{width: 7%;}
.wm-width6{width: 6%;}
.wm-width5{width: 5%;}
.wm-width4{width: 4%;}
.wm-width3{width: 3%;}
.wm-width2{width: 2%;}
.wm-width1{width: 1%;}
.wm-width{width: auto;}
.wm-width1220{width: 1220px;}


/*padding*/
.wm-padding40{padding:40px;}
.wm-padding35{padding:35px;}
.wm-padding30{padding:30px;}
.wm-padding25{padding:25px;}
.wm-padding20{padding:20px;}
.wm-padding15{padding:15px;}
.wm-padding10{padding:10px;}
.wm-padding9{padding:9px;}
.wm-padding8{padding:8px;}
.wm-padding7{padding:7px;}
.wm-padding6{padding:6px;}
.wm-padding5{padding:5px;}
.wm-padding4{padding:4px;}
.wm-padding3{padding:3px;}
.wm-padding2{padding:2px;}
.wm-padding0{padding:0px;}
.wm-padding-bottom200{padding-bottom: 200px;}
.wm-padding-bottom100{padding-bottom: 100px;}
.wm-padding-bottom90{padding-bottom: 90px;}
.wm-padding-bottom80{padding-bottom: 80px;}
.wm-padding-bottom70{padding-bottom: 70px;}
.wm-padding-bottom60{padding-bottom: 60px;}
.wm-padding-bottom50{padding-bottom: 50px;}
.wm-padding-bottom49{padding-bottom: 49px;}
.wm-padding-bottom48{padding-bottom: 48px;}
.wm-padding-bottom47{padding-bottom: 47px;}
.wm-padding-bottom46{padding-bottom: 46px;}
.wm-padding-bottom45{padding-bottom: 45px;}
.wm-padding-bottom44{padding-bottom: 44px;}
.wm-padding-bottom43{padding-bottom: 43px;}
.wm-padding-bottom42{padding-bottom: 42px;}
.wm-padding-bottom41{padding-bottom: 41px;}
.wm-padding-bottom40{padding-bottom: 40px;}
.wm-padding-bottom39{padding-bottom: 39px;}
.wm-padding-bottom38{padding-bottom: 38px;}
.wm-padding-bottom37{padding-bottom: 37px;}
.wm-padding-bottom36{padding-bottom: 36px;}
.wm-padding-bottom35{padding-bottom: 35px;}
.wm-padding-bottom34{padding-bottom: 34px;}
.wm-padding-bottom33{padding-bottom: 33px;}
.wm-padding-bottom32{padding-bottom: 32px;}
.wm-padding-bottom31{padding-bottom: 31px;}
.wm-padding-bottom30{padding-bottom: 30px;}
.wm-padding-bottom29{padding-bottom: 29px;}
.wm-padding-bottom28{padding-bottom: 28px;}
.wm-padding-bottom27{padding-bottom: 27px;}
.wm-padding-bottom26{padding-bottom: 26px;}
.wm-padding-bottom25{padding-bottom: 25px;}
.wm-padding-bottom24{padding-bottom: 24px;}
.wm-padding-bottom23{padding-bottom: 23px;}
.wm-padding-bottom22{padding-bottom: 22px;}
.wm-padding-bottom21{padding-bottom: 21px;}
.wm-padding-bottom20{padding-bottom: 20px;}
.wm-padding-bottom19{padding-bottom: 19px;}
.wm-padding-bottom18{padding-bottom: 18px;}
.wm-padding-bottom17{padding-bottom: 17px;}
.wm-padding-bottom16{padding-bottom: 16px;}
.wm-padding-bottom15{padding-bottom: 15px;}
.wm-padding-bottom14{padding-bottom: 14px;}
.wm-padding-bottom13{padding-bottom: 13px;}
.wm-padding-bottom12{padding-bottom: 12px;}
.wm-padding-bottom11{padding-bottom: 11px;}
.wm-padding-bottom10{padding-bottom: 10px;}
.wm-padding-bottom9{padding-bottom: 9px;}
.wm-padding-bottom8{padding-bottom: 8px;}
.wm-padding-bottom7{padding-bottom: 7px;}
.wm-padding-bottom6{padding-bottom: 6px;}
.wm-padding-bottom5{padding-bottom: 5px;}
.wm-padding-bottom4{padding-bottom: 4px;}
.wm-padding-bottom3{padding-bottom: 3px;}
.wm-padding-bottom2{padding-bottom: 2px;}
.wm-padding-bottom1{padding-bottom: 1px;}
.wm-padding-bottom0{padding-bottom: 0px;}
.wm-padding-top90{padding-top: 90px;}
.wm-padding-top80{padding-top: 80px;}
.wm-padding-top70{padding-top: 70px;}
.wm-padding-top60{padding-top: 60px;}
.wm-padding-top50{padding-top: 50px;}
.wm-padding-top49{padding-top: 49px;}
.wm-padding-top48{padding-top: 48px;}
.wm-padding-top47{padding-top: 47px;}
.wm-padding-top46{padding-top: 46px;}
.wm-padding-top45{padding-top: 45px;}
.wm-padding-top44{padding-top: 44px;}
.wm-padding-top43{padding-top: 43px;}
.wm-padding-top42{padding-top: 42px;}
.wm-padding-top41{padding-top: 41px;}
.wm-padding-top40{padding-top: 40px;}
.wm-padding-top39{padding-top: 39px;}
.wm-padding-top38{padding-top: 38px;}
.wm-padding-top37{padding-top: 37px;}
.wm-padding-top36{padding-top: 36px;}
.wm-padding-top35{padding-top: 35px;}
.wm-padding-top34{padding-top: 34px;}
.wm-padding-top33{padding-top: 33px;}
.wm-padding-top32{padding-top: 32px;}
.wm-padding-top31{padding-top: 31px;}
.wm-padding-top30{padding-top: 30px;}
.wm-padding-top29{padding-top: 29px;}
.wm-padding-top28{padding-top: 28px;}
.wm-padding-top27{padding-top: 27px;}
.wm-padding-top26{padding-top: 26px;}
.wm-padding-top25{padding-top: 25px;}
.wm-padding-top24{padding-top: 24px;}
.wm-padding-top23{padding-top: 23px;}
.wm-padding-top22{padding-top: 22px;}
.wm-padding-top21{padding-top: 21px;}
.wm-padding-top20{padding-top: 20px;}
.wm-padding-top19{padding-top: 19px;}
.wm-padding-top18{padding-top: 18px;}
.wm-padding-top17{padding-top: 17px;}
.wm-padding-top16{padding-top: 16px;}
.wm-padding-top15{padding-top: 15px;}
.wm-padding-top14{padding-top: 14px;}
.wm-padding-top13{padding-top: 13px;}
.wm-padding-top12{padding-top: 12px;}
.wm-padding-top11{padding-top: 11px;}
.wm-padding-top10{padding-top: 10px;}
.wm-padding-top9{padding-top: 9px;}
.wm-padding-top8{padding-top: 8px;}
.wm-padding-top7{padding-top: 7px;}
.wm-padding-top6{padding-top: 6px;}
.wm-padding-top5{padding-top: 5px;}
.wm-padding-top4{padding-top: 4px;}
.wm-padding-top3{padding-top: 3px;}
.wm-padding-top2{padding-top: 2px;}
.wm-padding-top1{padding-top: 1px;}
.wm-padding-top0{padding-top: 0px;}
.wm-padding-left220{padding-left: 220px;}
.wm-padding-left180{padding-left: 180px;}
.wm-padding-left160{padding-left: 160px;}
.wm-padding-left120{padding-left: 120px;}
.wm-padding-left110{padding-left: 110px;}
.wm-padding-left105{padding-left: 105px;}
.wm-padding-left100{padding-left: 100px;}
.wm-padding-left90{padding-left: 90px;}
.wm-padding-left80{padding-left: 80px;}
.wm-padding-left70{padding-left: 70px;}
.wm-padding-left60{padding-left: 60px;}
.wm-padding-left50{padding-left: 50px;}
.wm-padding-left49{padding-left: 49px;}
.wm-padding-left48{padding-left: 48px;}
.wm-padding-left47{padding-left: 47px;}
.wm-padding-left46{padding-left: 46px;}
.wm-padding-left45{padding-left: 45px;}
.wm-padding-left44{padding-left: 44px;}
.wm-padding-left43{padding-left: 43px;}
.wm-padding-left42{padding-left: 42px;}
.wm-padding-left41{padding-left: 41px;}
.wm-padding-left40{padding-left: 40px;}
.wm-padding-left39{padding-left: 39px;}
.wm-padding-left38{padding-left: 38px;}
.wm-padding-left37{padding-left: 37px;}
.wm-padding-left36{padding-left: 36px;}
.wm-padding-left35{padding-left: 35px;}
.wm-padding-left34{padding-left: 34px;}
.wm-padding-left33{padding-left: 33px;}
.wm-padding-left32{padding-left: 32px;}
.wm-padding-left31{padding-left: 31px;}
.wm-padding-left30{padding-left: 30px;}
.wm-padding-left29{padding-left: 29px;}
.wm-padding-left28{padding-left: 28px;}
.wm-padding-left27{padding-left: 27px;}
.wm-padding-left26{padding-left: 26px;}
.wm-padding-left25{padding-left: 25px;}
.wm-padding-left24{padding-left: 24px;}
.wm-padding-left23{padding-left: 23px;}
.wm-padding-left22{padding-left: 22px;}
.wm-padding-left21{padding-left: 21px;}
.wm-padding-left20{padding-left: 20px;}
.wm-padding-left19{padding-left: 19px;}
.wm-padding-left18{padding-left: 18px;}
.wm-padding-left17{padding-left: 17px;}
.wm-padding-left16{padding-left: 16px;}
.wm-padding-left15{padding-left: 15px;}
.wm-padding-left14{padding-left: 14px;}
.wm-padding-left13{padding-left: 13px;}
.wm-padding-left12{padding-left: 12px;}
.wm-padding-left11{padding-left: 11px;}
.wm-padding-left10{padding-left: 10px;}
.wm-padding-left9{padding-left: 9px;}
.wm-padding-left8{padding-left: 8px;}
.wm-padding-left7{padding-left: 7px;}
.wm-padding-left6{padding-left: 6px;}
.wm-padding-left5{padding-left: 5px;}
.wm-padding-left4{padding-left: 4px;}
.wm-padding-left3{padding-left: 3px;}
.wm-padding-left2{padding-left: 2px;}
.wm-padding-left1{padding-left: 1px;}
.wm-padding-left0{padding-left: 0px;}
.wm-padding-right120{padding-right: 120px;}
.wm-padding-right100{padding-right: 100px;}
.wm-padding-right90{padding-right: 90px;}
.wm-padding-right80{padding-right: 80px;}
.wm-padding-right70{padding-right: 70px;}
.wm-padding-right60{padding-right: 60px;}
.wm-padding-right50{padding-right: 50px;}
.wm-padding-right49{padding-right: 49px;}
.wm-padding-right48{padding-right: 48px;}
.wm-padding-right47{padding-right: 47px;}
.wm-padding-right46{padding-right: 46px;}
.wm-padding-right45{padding-right: 45px;}
.wm-padding-right44{padding-right: 44px;}
.wm-padding-right43{padding-right: 43px;}
.wm-padding-right42{padding-right: 42px;}
.wm-padding-right41{padding-right: 41px;}
.wm-padding-right40{padding-right: 40px;}
.wm-padding-right39{padding-right: 39px;}
.wm-padding-right38{padding-right: 38px;}
.wm-padding-right37{padding-right: 37px;}
.wm-padding-right36{padding-right: 36px;}
.wm-padding-right35{padding-right: 35px;}
.wm-padding-right34{padding-right: 34px;}
.wm-padding-right33{padding-right: 33px;}
.wm-padding-right32{padding-right: 32px;}
.wm-padding-right31{padding-right: 31px;}
.wm-padding-right30{padding-right: 30px;}
.wm-padding-right29{padding-right: 29px;}
.wm-padding-right28{padding-right: 28px;}
.wm-padding-right27{padding-right: 27px;}
.wm-padding-right26{padding-right: 26px;}
.wm-padding-right25{padding-right: 25px;}
.wm-padding-right24{padding-right: 24px;}
.wm-padding-right23{padding-right: 23px;}
.wm-padding-right22{padding-right: 22px;}
.wm-padding-right21{padding-right: 21px;}
.wm-padding-right20{padding-right: 20px;}
.wm-padding-right19{padding-right: 19px;}
.wm-padding-right18{padding-right: 18px;}
.wm-padding-right17{padding-right: 17px;}
.wm-padding-right16{padding-right: 16px;}
.wm-padding-right15{padding-right: 15px;}
.wm-padding-right14{padding-right: 14px;}
.wm-padding-right13{padding-right: 13px;}
.wm-padding-right12{padding-right: 12px;}
.wm-padding-right11{padding-right: 11px;}
.wm-padding-right10{padding-right: 10px;}
.wm-padding-right9{padding-right: 9px;}
.wm-padding-right8{padding-right: 8px;}
.wm-padding-right7{padding-right: 7px;}
.wm-padding-right6{padding-right: 6px;}
.wm-padding-right5{padding-right: 5px;}
.wm-padding-right4{padding-right: 4px;}
.wm-padding-right3{padding-right: 3px;}
.wm-padding-right2{padding-right: 2px;}
.wm-padding-right1{padding-right: 1px;}
.wm-padding-right0{padding-right: 0px;}
.wm-padding-tb90{padding-top: 90px;padding-bottom: 90px;}
.wm-padding-tb80{padding-top: 80px;padding-bottom: 80px;}
.wm-padding-tb70{padding-top: 70px;padding-bottom: 70px;}
.wm-padding-tb60{padding-top: 60px;padding-bottom: 60px;}
.wm-padding-tb50{padding-top: 50px;padding-bottom: 50px;}
.wm-padding-tb49{padding-top: 49px;padding-bottom: 49px;}
.wm-padding-tb48{padding-top: 48px;padding-bottom: 48px;}
.wm-padding-tb47{padding-top: 47px;padding-bottom: 47px;}
.wm-padding-tb46{padding-top: 46px;padding-bottom: 46px;}
.wm-padding-tb45{padding-top: 45px;padding-bottom: 45px;}
.wm-padding-tb44{padding-top: 44px;padding-bottom: 44px;}
.wm-padding-tb43{padding-top: 43px;padding-bottom: 43px;}
.wm-padding-tb42{padding-top: 42px;padding-bottom: 42px;}
.wm-padding-tb41{padding-top: 41px;padding-bottom: 41px;}
.wm-padding-tb40{padding-top: 40px;padding-bottom: 40px;}
.wm-padding-tb39{padding-top: 39px;padding-bottom: 39px;}
.wm-padding-tb38{padding-top: 38px;padding-bottom: 38px;}
.wm-padding-tb37{padding-top: 37px;padding-bottom: 37px;}
.wm-padding-tb36{padding-top: 36px;padding-bottom: 36px;}
.wm-padding-tb35{padding-top: 35px;padding-bottom: 35px;}
.wm-padding-tb34{padding-top: 34px;padding-bottom: 34px;}
.wm-padding-tb33{padding-top: 33px;padding-bottom: 33px;}
.wm-padding-tb32{padding-top: 32px;padding-bottom: 32px;}
.wm-padding-tb31{padding-top: 31px;padding-bottom: 31px;}
.wm-padding-tb30{padding-top: 30px;padding-bottom: 30px;}
.wm-padding-tb29{padding-top: 29px;padding-bottom: 29px;}
.wm-padding-tb28{padding-top: 28px;padding-bottom: 28px;}
.wm-padding-tb27{padding-top: 27px;padding-bottom: 27px;}
.wm-padding-tb26{padding-top: 26px;padding-bottom: 26px;}
.wm-padding-tb25{padding-top: 25px;padding-bottom: 25px;}
.wm-padding-tb24{padding-top: 24px;padding-bottom: 24px;}
.wm-padding-tb23{padding-top: 23px;padding-bottom: 23px;}
.wm-padding-tb22{padding-top: 22px;padding-bottom: 22px;}
.wm-padding-tb21{padding-top: 21px;padding-bottom: 21px;}
.wm-padding-tb20{padding-top: 20px;padding-bottom: 20px;}
.wm-padding-tb19{padding-top: 19px;padding-bottom: 19px;}
.wm-padding-tb18{padding-top: 18px;padding-bottom: 18px;}
.wm-padding-tb17{padding-top: 17px;padding-bottom: 17px;}
.wm-padding-tb16{padding-top: 16px;padding-bottom: 16px;}
.wm-padding-tb15{padding-top: 15px;padding-bottom: 15px;}
.wm-padding-tb14{padding-top: 14px;padding-bottom: 14px;}
.wm-padding-tb13{padding-top: 13px;padding-bottom: 13px;}
.wm-padding-tb12{padding-top: 12px;padding-bottom: 12px;}
.wm-padding-tb11{padding-top: 11px;padding-bottom: 11px;}
.wm-padding-tb10{padding-top: 10px;padding-bottom: 10px;}
.wm-padding-tb9{padding-top: 9px;padding-bottom: 9px;}
.wm-padding-tb8{padding-top: 8px;padding-bottom: 8px;}
.wm-padding-tb7{padding-top: 7px;padding-bottom: 7px;}
.wm-padding-tb6{padding-top: 6px;padding-bottom: 6px;}
.wm-padding-tb5{padding-top: 5px;padding-bottom: 5px;}
.wm-padding-tb4{padding-top: 4px;padding-bottom: 4px;}
.wm-padding-tb3{padding-top: 3px;padding-bottom: 3px;}
.wm-padding-tb2{padding-top: 2px;padding-bottom: 2px;}
.wm-padding-tb1{padding-top: 1px;padding-bottom: 1px;}
.wm-padding-tb0{padding-top: 0px;padding-bottom: 0px;}
.wm-padding-lr90{padding-left: 90px;padding-right: 90px;}
.wm-padding-lr80{padding-left: 80px;padding-right: 80px;}
.wm-padding-lr70{padding-left: 70px;padding-right: 70px;}
.wm-padding-lr60{padding-left: 60px;padding-right: 60px;}
.wm-padding-lr50{padding-left: 50px;padding-right: 50px;}
.wm-padding-lr49{padding-left: 49px;padding-right: 49px;}
.wm-padding-lr48{padding-left: 48px;padding-right: 48px;}
.wm-padding-lr47{padding-left: 47px;padding-right: 47px;}
.wm-padding-lr46{padding-left: 46px;padding-right: 46px;}
.wm-padding-lr45{padding-left: 45px;padding-right: 45px;}
.wm-padding-lr44{padding-left: 44px;padding-right: 44px;}
.wm-padding-lr43{padding-left: 43px;padding-right: 43px;}
.wm-padding-lr42{padding-left: 42px;padding-right: 42px;}
.wm-padding-lr41{padding-left: 41px;padding-right: 41px;}
.wm-padding-lr40{padding-left: 40px;padding-right: 40px;}
.wm-padding-lr39{padding-left: 39px;padding-right: 39px;}
.wm-padding-lr38{padding-left: 38px;padding-right: 38px;}
.wm-padding-lr37{padding-left: 37px;padding-right: 37px;}
.wm-padding-lr36{padding-left: 36px;padding-right: 36px;}
.wm-padding-lr35{padding-left: 35px;padding-right: 35px;}
.wm-padding-lr34{padding-left: 34px;padding-right: 34px;}
.wm-padding-lr33{padding-left: 33px;padding-right: 33px;}
.wm-padding-lr32{padding-left: 32px;padding-right: 32px;}
.wm-padding-lr31{padding-left: 31px;padding-right: 31px;}
.wm-padding-lr30{padding-left: 30px;padding-right: 30px;}
.wm-padding-lr29{padding-left: 29px;padding-right: 29px;}
.wm-padding-lr28{padding-left: 28px;padding-right: 28px;}
.wm-padding-lr27{padding-left: 27px;padding-right: 27px;}
.wm-padding-lr26{padding-left: 26px;padding-right: 26px;}
.wm-padding-lr25{padding-left: 25px;padding-right: 25px;}
.wm-padding-lr24{padding-left: 24px;padding-right: 24px;}
.wm-padding-lr23{padding-left: 23px;padding-right: 23px;}
.wm-padding-lr22{padding-left: 22px;padding-right: 22px;}
.wm-padding-lr21{padding-left: 21px;padding-right: 21px;}
.wm-padding-lr20{padding-left: 20px;padding-right: 20px;}
.wm-padding-lr19{padding-left: 19px;padding-right: 19px;}
.wm-padding-lr18{padding-left: 18px;padding-right: 18px;}
.wm-padding-lr17{padding-left: 17px;padding-right: 17px;}
.wm-padding-lr16{padding-left: 16px;padding-right: 16px;}
.wm-padding-lr15{padding-left: 15px;padding-right: 15px;}
.wm-padding-lr14{padding-left: 14px;padding-right: 14px;}
.wm-padding-lr13{padding-left: 13px;padding-right: 13px;}
.wm-padding-lr12{padding-left: 12px;padding-right: 12px;}
.wm-padding-lr11{padding-left: 11px;padding-right: 11px;}
.wm-padding-lr10{padding-left: 10px;padding-right: 10px;}
.wm-padding-lr9{padding-left: 9px;padding-right: 9px;}
.wm-padding-lr8{padding-left: 8px;padding-right: 8px;}
.wm-padding-lr7{padding-left: 7px;padding-right: 7px;}
.wm-padding-lr6{padding-left: 6px;padding-right: 6px;}
.wm-padding-lr5{padding-left: 5px;padding-right: 5px;}
.wm-padding-lr4{padding-left: 4px;padding-right: 4px;}
.wm-padding-lr3{padding-left: 3px;padding-right: 3px;}
.wm-padding-lr2{padding-left: 2px;padding-right: 2px;}
.wm-padding-lr1{padding-left: 1px;padding-right: 1px;}
.wm-padding-lr0{padding-left: 0px;padding-right: 0px;}


/*margin*/
.wm-margin40{margin:40px;}
.wm-margin35{margin:35px;}
.wm-margin30{margin:30px;}
.wm-margin25{margin:25px;}
.wm-margin20{margin:20px;}
.wm-margin15{margin:15px;}
.wm-margin10{margin:10px;}
.wm-margin9{margin:9px;}
.wm-margin8{margin:8px;}
.wm-margin7{margin:7px;}
.wm-margin6{margin:6px;}
.wm-margin5{margin:5px;}
.wm-margin4{margin:4px;}
.wm-margin3{margin:3px;}
.wm-margin2{margin:2px;}
.wm-margin0{margin:0px;}
.wm-margin-bottom90{margin-bottom: 90px;}
.wm-margin-bottom80{margin-bottom: 80px;}
.wm-margin-bottom70{margin-bottom: 70px;}
.wm-margin-bottom60{margin-bottom: 60px;}
.wm-margin-bottom50{margin-bottom: 50px;}
.wm-margin-bottom49{margin-bottom: 49px;}
.wm-margin-bottom48{margin-bottom: 48px;}
.wm-margin-bottom47{margin-bottom: 47px;}
.wm-margin-bottom46{margin-bottom: 46px;}
.wm-margin-bottom45{margin-bottom: 45px;}
.wm-margin-bottom44{margin-bottom: 44px;}
.wm-margin-bottom43{margin-bottom: 43px;}
.wm-margin-bottom42{margin-bottom: 42px;}
.wm-margin-bottom41{margin-bottom: 41px;}
.wm-margin-bottom40{margin-bottom: 40px;}
.wm-margin-bottom39{margin-bottom: 39px;}
.wm-margin-bottom38{margin-bottom: 38px;}
.wm-margin-bottom37{margin-bottom: 37px;}
.wm-margin-bottom36{margin-bottom: 36px;}
.wm-margin-bottom35{margin-bottom: 35px;}
.wm-margin-bottom34{margin-bottom: 34px;}
.wm-margin-bottom33{margin-bottom: 33px;}
.wm-margin-bottom32{margin-bottom: 32px;}
.wm-margin-bottom31{margin-bottom: 31px;}
.wm-margin-bottom30{margin-bottom: 30px;}
.wm-margin-bottom29{margin-bottom: 29px;}
.wm-margin-bottom28{margin-bottom: 28px;}
.wm-margin-bottom27{margin-bottom: 27px;}
.wm-margin-bottom26{margin-bottom: 26px;}
.wm-margin-bottom25{margin-bottom: 25px;}
.wm-margin-bottom24{margin-bottom: 24px;}
.wm-margin-bottom23{margin-bottom: 23px;}
.wm-margin-bottom22{margin-bottom: 22px;}
.wm-margin-bottom21{margin-bottom: 21px;}
.wm-margin-bottom20{margin-bottom: 20px;}
.wm-margin-bottom19{margin-bottom: 19px;}
.wm-margin-bottom18{margin-bottom: 18px;}
.wm-margin-bottom17{margin-bottom: 17px;}
.wm-margin-bottom16{margin-bottom: 16px;}
.wm-margin-bottom15{margin-bottom: 15px;}
.wm-margin-bottom14{margin-bottom: 14px;}
.wm-margin-bottom13{margin-bottom: 13px;}
.wm-margin-bottom12{margin-bottom: 12px;}
.wm-margin-bottom11{margin-bottom: 11px;}
.wm-margin-bottom10{margin-bottom: 10px;}
.wm-margin-bottom9{margin-bottom: 9px;}
.wm-margin-bottom8{margin-bottom: 8px;}
.wm-margin-bottom7{margin-bottom: 7px;}
.wm-margin-bottom6{margin-bottom: 6px;}
.wm-margin-bottom5{margin-bottom: 5px;}
.wm-margin-bottom4{margin-bottom: 4px;}
.wm-margin-bottom3{margin-bottom: 3px;}
.wm-margin-bottom2{margin-bottom: 2px;}
.wm-margin-bottom1{margin-bottom: 1px;}
.wm-margin-bottom0{margin-bottom: 0px;}
.wm-margin-top90{margin-top: 90px;}
.wm-margin-top80{margin-top: 80px;}
.wm-margin-top70{margin-top: 70px;}
.wm-margin-top60{margin-top: 60px;}
.wm-margin-top50{margin-top: 50px;}
.wm-margin-top49{margin-top: 49px;}
.wm-margin-top48{margin-top: 48px;}
.wm-margin-top47{margin-top: 47px;}
.wm-margin-top46{margin-top: 46px;}
.wm-margin-top45{margin-top: 45px;}
.wm-margin-top44{margin-top: 44px;}
.wm-margin-top43{margin-top: 43px;}
.wm-margin-top42{margin-top: 42px;}
.wm-margin-top41{margin-top: 41px;}
.wm-margin-top40{margin-top: 40px;}
.wm-margin-top39{margin-top: 39px;}
.wm-margin-top38{margin-top: 38px;}
.wm-margin-top37{margin-top: 37px;}
.wm-margin-top36{margin-top: 36px;}
.wm-margin-top35{margin-top: 35px;}
.wm-margin-top34{margin-top: 34px;}
.wm-margin-top33{margin-top: 33px;}
.wm-margin-top32{margin-top: 32px;}
.wm-margin-top31{margin-top: 31px;}
.wm-margin-top30{margin-top: 30px;}
.wm-margin-top29{margin-top: 29px;}
.wm-margin-top28{margin-top: 28px;}
.wm-margin-top27{margin-top: 27px;}
.wm-margin-top26{margin-top: 26px;}
.wm-margin-top25{margin-top: 25px;}
.wm-margin-top24{margin-top: 24px;}
.wm-margin-top23{margin-top: 23px;}
.wm-margin-top22{margin-top: 22px;}
.wm-margin-top21{margin-top: 21px;}
.wm-margin-top20{margin-top: 20px;}
.wm-margin-top19{margin-top: 19px;}
.wm-margin-top18{margin-top: 18px;}
.wm-margin-top17{margin-top: 17px;}
.wm-margin-top16{margin-top: 16px;}
.wm-margin-top15{margin-top: 15px;}
.wm-margin-top14{margin-top: 14px;}
.wm-margin-top13{margin-top: 13px;}
.wm-margin-top12{margin-top: 12px;}
.wm-margin-top11{margin-top: 11px;}
.wm-margin-top10{margin-top: 10px;}
.wm-margin-top9{margin-top: 9px;}
.wm-margin-top8{margin-top: 8px;}
.wm-margin-top7{margin-top: 7px;}
.wm-margin-top6{margin-top: 6px;}
.wm-margin-top5{margin-top: 5px;}
.wm-margin-top4{margin-top: 4px;}
.wm-margin-top3{margin-top: 3px;}
.wm-margin-top2{margin-top: 2px;}
.wm-margin-top1{margin-top: 1px;}
.wm-margin-top0{margin-top: 0px;}
.wm-margin-left90{margin-left: 90px;}
.wm-margin-left80{margin-left: 80px;}
.wm-margin-left70{margin-left: 70px;}
.wm-margin-left60{margin-left: 60px;}
.wm-margin-left50{margin-left: 50px;}
.wm-margin-left49{margin-left: 49px;}
.wm-margin-left48{margin-left: 48px;}
.wm-margin-left47{margin-left: 47px;}
.wm-margin-left46{margin-left: 46px;}
.wm-margin-left45{margin-left: 45px;}
.wm-margin-left44{margin-left: 44px;}
.wm-margin-left43{margin-left: 43px;}
.wm-margin-left42{margin-left: 42px;}
.wm-margin-left41{margin-left: 41px;}
.wm-margin-left40{margin-left: 40px;}
.wm-margin-left39{margin-left: 39px;}
.wm-margin-left38{margin-left: 38px;}
.wm-margin-left37{margin-left: 37px;}
.wm-margin-left36{margin-left: 36px;}
.wm-margin-left35{margin-left: 35px;}
.wm-margin-left34{margin-left: 34px;}
.wm-margin-left33{margin-left: 33px;}
.wm-margin-left32{margin-left: 32px;}
.wm-margin-left31{margin-left: 31px;}
.wm-margin-left30{margin-left: 30px;}
.wm-margin-left29{margin-left: 29px;}
.wm-margin-left28{margin-left: 28px;}
.wm-margin-left27{margin-left: 27px;}
.wm-margin-left26{margin-left: 26px;}
.wm-margin-left25{margin-left: 25px;}
.wm-margin-left24{margin-left: 24px;}
.wm-margin-left23{margin-left: 23px;}
.wm-margin-left22{margin-left: 22px;}
.wm-margin-left21{margin-left: 21px;}
.wm-margin-left20{margin-left: 20px;}
.wm-margin-left19{margin-left: 19px;}
.wm-margin-left18{margin-left: 18px;}
.wm-margin-left17{margin-left: 17px;}
.wm-margin-left16{margin-left: 16px;}
.wm-margin-left15{margin-left: 15px;}
.wm-margin-left14{margin-left: 14px;}
.wm-margin-left13{margin-left: 13px;}
.wm-margin-left12{margin-left: 12px;}
.wm-margin-left11{margin-left: 11px;}
.wm-margin-left10{margin-left: 10px;}
.wm-margin-left9{margin-left: 9px;}
.wm-margin-left8{margin-left: 8px;}
.wm-margin-left7{margin-left: 7px;}
.wm-margin-left6{margin-left: 6px;}
.wm-margin-left5{margin-left: 5px;}
.wm-margin-left4{margin-left: 4px;}
.wm-margin-left3{margin-left: 3px;}
.wm-margin-left2{margin-left: 2px;}
.wm-margin-left1{margin-left: 1px;}
.wm-margin-left0{margin-left: 0px;}
.wm-margin-right90{margin-right: 90px;}
.wm-margin-right80{margin-right: 80px;}
.wm-margin-right70{margin-right: 70px;}
.wm-margin-right60{margin-right: 60px;}
.wm-margin-right50{margin-right: 50px;}
.wm-margin-right49{margin-right: 49px;}
.wm-margin-right48{margin-right: 48px;}
.wm-margin-right47{margin-right: 47px;}
.wm-margin-right46{margin-right: 46px;}
.wm-margin-right45{margin-right: 45px;}
.wm-margin-right44{margin-right: 44px;}
.wm-margin-right43{margin-right: 43px;}
.wm-margin-right42{margin-right: 42px;}
.wm-margin-right41{margin-right: 41px;}
.wm-margin-right40{margin-right: 40px;}
.wm-margin-right39{margin-right: 39px;}
.wm-margin-right38{margin-right: 38px;}
.wm-margin-right37{margin-right: 37px;}
.wm-margin-right36{margin-right: 36px;}
.wm-margin-right35{margin-right: 35px;}
.wm-margin-right34{margin-right: 34px;}
.wm-margin-right33{margin-right: 33px;}
.wm-margin-right32{margin-right: 32px;}
.wm-margin-right31{margin-right: 31px;}
.wm-margin-right30{margin-right: 30px;}
.wm-margin-right29{margin-right: 29px;}
.wm-margin-right28{margin-right: 28px;}
.wm-margin-right27{margin-right: 27px;}
.wm-margin-right26{margin-right: 26px;}
.wm-margin-right25{margin-right: 25px;}
.wm-margin-right24{margin-right: 24px;}
.wm-margin-right23{margin-right: 23px;}
.wm-margin-right22{margin-right: 22px;}
.wm-margin-right21{margin-right: 21px;}
.wm-margin-right20{margin-right: 20px;}
.wm-margin-right19{margin-right: 19px;}
.wm-margin-right18{margin-right: 18px;}
.wm-margin-right17{margin-right: 17px;}
.wm-margin-right16{margin-right: 16px;}
.wm-margin-right15{margin-right: 15px;}
.wm-margin-right14{margin-right: 14px;}
.wm-margin-right13{margin-right: 13px;}
.wm-margin-right12{margin-right: 12px;}
.wm-margin-right11{margin-right: 11px;}
.wm-margin-right10{margin-right: 10px;}
.wm-margin-right9{margin-right: 9px;}
.wm-margin-right8{margin-right: 8px;}
.wm-margin-right7{margin-right: 7px;}
.wm-margin-right6{margin-right: 6px;}
.wm-margin-right5{margin-right: 5px;}
.wm-margin-right4{margin-right: 4px;}
.wm-margin-right3{margin-right: 3px;}
.wm-margin-right2{margin-right: 2px;}
.wm-margin-right1{margin-right: 1px;}
.wm-margin-right0{margin-right: 0px;}
.wm-margin-tb90{margin-top: 90px;margin-bottom: 90px;}
.wm-margin-tb80{margin-top: 80px;margin-bottom: 80px;}
.wm-margin-tb70{margin-top: 70px;margin-bottom: 70px;}
.wm-margin-tb60{margin-top: 60px;margin-bottom: 60px;}
.wm-margin-tb50{margin-top: 50px;margin-bottom: 50px;}
.wm-margin-tb49{margin-top: 49px;margin-bottom: 49px;}
.wm-margin-tb48{margin-top: 48px;margin-bottom: 48px;}
.wm-margin-tb47{margin-top: 47px;margin-bottom: 47px;}
.wm-margin-tb46{margin-top: 46px;margin-bottom: 46px;}
.wm-margin-tb45{margin-top: 45px;margin-bottom: 45px;}
.wm-margin-tb44{margin-top: 44px;margin-bottom: 44px;}
.wm-margin-tb43{margin-top: 43px;margin-bottom: 43px;}
.wm-margin-tb42{margin-top: 42px;margin-bottom: 42px;}
.wm-margin-tb41{margin-top: 41px;margin-bottom: 41px;}
.wm-margin-tb40{margin-top: 40px;margin-bottom: 40px;}
.wm-margin-tb39{margin-top: 39px;margin-bottom: 39px;}
.wm-margin-tb38{margin-top: 38px;margin-bottom: 38px;}
.wm-margin-tb37{margin-top: 37px;margin-bottom: 37px;}
.wm-margin-tb36{margin-top: 36px;margin-bottom: 36px;}
.wm-margin-tb35{margin-top: 35px;margin-bottom: 35px;}
.wm-margin-tb34{margin-top: 34px;margin-bottom: 34px;}
.wm-margin-tb33{margin-top: 33px;margin-bottom: 33px;}
.wm-margin-tb32{margin-top: 32px;margin-bottom: 32px;}
.wm-margin-tb31{margin-top: 31px;margin-bottom: 31px;}
.wm-margin-tb30{margin-top: 30px;margin-bottom: 30px;}
.wm-margin-tb29{margin-top: 29px;margin-bottom: 29px;}
.wm-margin-tb28{margin-top: 28px;margin-bottom: 28px;}
.wm-margin-tb27{margin-top: 27px;margin-bottom: 27px;}
.wm-margin-tb26{margin-top: 26px;margin-bottom: 26px;}
.wm-margin-tb25{margin-top: 25px;margin-bottom: 25px;}
.wm-margin-tb24{margin-top: 24px;margin-bottom: 24px;}
.wm-margin-tb23{margin-top: 23px;margin-bottom: 23px;}
.wm-margin-tb22{margin-top: 22px;margin-bottom: 22px;}
.wm-margin-tb21{margin-top: 21px;margin-bottom: 21px;}
.wm-margin-tb20{margin-top: 20px;margin-bottom: 20px;}
.wm-margin-tb19{margin-top: 19px;margin-bottom: 19px;}
.wm-margin-tb18{margin-top: 18px;margin-bottom: 18px;}
.wm-margin-tb17{margin-top: 17px;margin-bottom: 17px;}
.wm-margin-tb16{margin-top: 16px;margin-bottom: 16px;}
.wm-margin-tb15{margin-top: 15px;margin-bottom: 15px;}
.wm-margin-tb14{margin-top: 14px;margin-bottom: 14px;}
.wm-margin-tb13{margin-top: 13px;margin-bottom: 13px;}
.wm-margin-tb12{margin-top: 12px;margin-bottom: 12px;}
.wm-margin-tb11{margin-top: 11px;margin-bottom: 11px;}
.wm-margin-tb10{margin-top: 10px;margin-bottom: 10px;}
.wm-margin-tb9{margin-top: 9px;margin-bottom: 9px;}
.wm-margin-tb8{margin-top: 8px;margin-bottom: 8px;}
.wm-margin-tb7{margin-top: 7px;margin-bottom: 7px;}
.wm-margin-tb6{margin-top: 6px;margin-bottom: 6px;}
.wm-margin-tb5{margin-top: 5px;margin-bottom: 5px;}
.wm-margin-tb4{margin-top: 4px;margin-bottom: 4px;}
.wm-margin-tb3{margin-top: 3px;margin-bottom: 3px;}
.wm-margin-tb2{margin-top: 2px;margin-bottom: 2px;}
.wm-margin-tb1{margin-top: 1px;margin-bottom: 1px;}
.wm-margin-tb0{margin-top: 0px;margin-bottom: 0px;}
.wm-margin-lr90{margin-left: 90px;margin-right: 90px;}
.wm-margin-lr80{margin-left: 80px;margin-right: 80px;}
.wm-margin-lr70{margin-left: 70px;margin-right: 70px;}
.wm-margin-lr60{margin-left: 60px;margin-right: 60px;}
.wm-margin-lr50{margin-left: 50px;margin-right: 50px;}
.wm-margin-lr49{margin-left: 49px;margin-right: 49px;}
.wm-margin-lr48{margin-left: 48px;margin-right: 48px;}
.wm-margin-lr47{margin-left: 47px;margin-right: 47px;}
.wm-margin-lr46{margin-left: 46px;margin-right: 46px;}
.wm-margin-lr45{margin-left: 45px;margin-right: 45px;}
.wm-margin-lr44{margin-left: 44px;margin-right: 44px;}
.wm-margin-lr43{margin-left: 43px;margin-right: 43px;}
.wm-margin-lr42{margin-left: 42px;margin-right: 42px;}
.wm-margin-lr41{margin-left: 41px;margin-right: 41px;}
.wm-margin-lr40{margin-left: 40px;margin-right: 40px;}
.wm-margin-lr39{margin-left: 39px;margin-right: 39px;}
.wm-margin-lr38{margin-left: 38px;margin-right: 38px;}
.wm-margin-lr37{margin-left: 37px;margin-right: 37px;}
.wm-margin-lr36{margin-left: 36px;margin-right: 36px;}
.wm-margin-lr35{margin-left: 35px;margin-right: 35px;}
.wm-margin-lr34{margin-left: 34px;margin-right: 34px;}
.wm-margin-lr33{margin-left: 33px;margin-right: 33px;}
.wm-margin-lr32{margin-left: 32px;margin-right: 32px;}
.wm-margin-lr31{margin-left: 31px;margin-right: 31px;}
.wm-margin-lr30{margin-left: 30px;margin-right: 30px;}
.wm-margin-lr29{margin-left: 29px;margin-right: 29px;}
.wm-margin-lr28{margin-left: 28px;margin-right: 28px;}
.wm-margin-lr27{margin-left: 27px;margin-right: 27px;}
.wm-margin-lr26{margin-left: 26px;margin-right: 26px;}
.wm-margin-lr25{margin-left: 25px;margin-right: 25px;}
.wm-margin-lr24{margin-left: 24px;margin-right: 24px;}
.wm-margin-lr23{margin-left: 23px;margin-right: 23px;}
.wm-margin-lr22{margin-left: 22px;margin-right: 22px;}
.wm-margin-lr21{margin-left: 21px;margin-right: 21px;}
.wm-margin-lr20{margin-left: 20px;margin-right: 20px;}
.wm-margin-lr19{margin-left: 19px;margin-right: 19px;}
.wm-margin-lr18{margin-left: 18px;margin-right: 18px;}
.wm-margin-lr17{margin-left: 17px;margin-right: 17px;}
.wm-margin-lr16{margin-left: 16px;margin-right: 16px;}
.wm-margin-lr15{margin-left: 15px;margin-right: 15px;}
.wm-margin-lr14{margin-left: 14px;margin-right: 14px;}
.wm-margin-lr13{margin-left: 13px;margin-right: 13px;}
.wm-margin-lr12{margin-left: 12px;margin-right: 12px;}
.wm-margin-lr11{margin-left: 11px;margin-right: 11px;}
.wm-margin-lr10{margin-left: 10px;margin-right: 10px;}
.wm-margin-lr9{margin-left: 9px;margin-right: 9px;}
.wm-margin-lr8{margin-left: 8px;margin-right: 8px;}
.wm-margin-lr7{margin-left: 7px;margin-right: 7px;}
.wm-margin-lr6{margin-left: 6px;margin-right: 6px;}
.wm-margin-lr5{margin-left: 5px;margin-right: 5px;}
.wm-margin-lr4{margin-left: 4px;margin-right: 4px;}
.wm-margin-lr3{margin-left: 3px;margin-right: 3px;}
.wm-margin-lr2{margin-left: 2px;margin-right: 2px;}
.wm-margin-lr1{margin-left: 1px;margin-right: 1px;}
.wm-margin-lr0{margin-left: 0px;margin-right: 0px;}



/*border边框*/
.wm-border-top-none{border-top: none;}
.wm-border-left-none{border-left: none;}
.wm-border-right-none{border-right: none;}
.wm-border-bottom-none{border-bottom: none;}
.wm-border-solid-eceeeb{border:1px solid #eceeeb;}
.wm-border-solid-e5e5e5{border: 1px solid #e5e5e5;}
.wm-border-solid-right-eceeeb{border-right:1px solid #eceeeb;}
.wm-border-solid-bottom-eceeeb{border-bottom:1px solid #eceeeb;}
.wm-border-solid-df{border:1px solid #dfdfdf;}
.wm-border-solid-e6e6e6{border: 1px solid #e6e6e6}
.wm-border-solid-top-df{border-top:1px solid #dfdfdf;}
.wm-border-solid-top-e5e5e5{border-top: 1px solid #e5e5e5;}
.wm-border-solid-left-df{border-left:1px solid #dfdfdf;}
.wm-border-solid-left-e6e6e6{border-left:1px solid #e6e6e6;}
.wm-border-solid-right-df{border-right:1px solid #dfdfdf;}
.wm-border-solid-right-f1{border-right:1px solid #f1f1f1;}
.wm-border-solid-right-e5e5e5{border-right:1px solid #e5e5e5;}
.wm-border-solid-bottom-df{border-bottom:1px solid #dfdfdf;}
.wm-border-solid-bottom-d2cdce{border-bottom: 1px solid #d2cdce;}
.wm-border-solid-bottom-e5e5e5{border-bottom: 1px solid #e5e5e5;}
.wm-border-solid-bottom-e6e6e6{border-bottom: 1px solid #e6e6e6;}
.wm-border-solid-top2-ffa934{border-top:2px solid #ffa934;}
.wm-border-solid-top2-7cc253{border-top:2px solid #7cc253;}
.wm-border-solid-top2-0099ef{border-top:2px solid #0099ef;}
.wm-border-solid-top2-f13340{border-top:2px solid #f13340;}
.wm-border-solid-top2-cd04ff{border-top:2px solid #cd04ff;}


/*圆角*/
.wm-ridus1{-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;}
.wm-ridus2{-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.wm-ridus3{-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.wm-ridus4{-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.wm-ridus5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.wm-ridus6{-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.wm-ridus8{-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.wm-ridus9{-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;}
.wm-ridus10{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.wm-ridus11{-webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;}
.wm-ridus12{-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;}
.wm-ridus13{-webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px;}
.wm-ridus14{-webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px;}
.wm-ridus25{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;}
.wm-ridus26{-webkit-border-radius: 26px; -moz-border-radius: 26px; border-radius: 26px;}
.wm-ridus28{-webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px;}
.wm-ridus29{-webkit-border-radius: 29px; -moz-border-radius: 29px; border-radius: 29px;}
.wm-ridus30{-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;}
.wm-ridus40{-webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px;}
.wm-ridus50{-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50%;}



/*文字行距*/
.line-height120{height: 120px; line-height: 120px;}
.line-height100{height: 100px; line-height: 100px;}
.line-height90{height: 90px; line-height: 90px;}
.line-height80{height: 80px; line-height: 80px;}
.line-height75{height: 75px; line-height: 75px;}
.line-height70{height: 70px; line-height: 70px;}
.line-height60{height: 60px; line-height: 60px;}
.line-height50{height: 50px; line-height: 50px;}
.line-height49{height: 49px; line-height: 49px;}
.line-height48{height: 48px; line-height: 48px;}
.line-height47{height: 47px; line-height: 47px;}
.line-height46{height: 46px; line-height: 46px;}
.line-height45{height: 45px; line-height: 45px;}
.line-height44{height: 44px; line-height: 44px;}
.line-height43{height: 43px; line-height: 43px;}
.line-height42{height: 42px; line-height: 42px;}
.line-height41{height: 41px; line-height: 41px;}
.line-height40{height: 40px; line-height: 40px;}
.line-height39{height: 39px; line-height: 39px;}
.line-height38{height: 38px; line-height: 38px;}
.line-height37{height: 37px; line-height: 37px;}
.line-height36{height: 36px; line-height: 36px;}
.line-height35{height: 35px; line-height: 35px;}
.line-height34{height: 34px; line-height: 34px;}
.line-height33{height: 33px; line-height: 33px;}
.line-height32{height: 32px; line-height: 32px;}
.line-height31{height: 31px; line-height: 31px;}
.line-height30{height: 30px; line-height: 30px;}
.line-height29{height: 29px; line-height: 29px;}
.line-height28{height: 28px; line-height: 28px;}
.line-height27{height: 27px; line-height: 27px;}
.line-height26{height: 26px; line-height: 26px;}
.line-height25{height: 25px; line-height: 25px;}
.line-height24{height: 24px; line-height: 24px;}
.line-height23{height: 23px; line-height: 23px;}
.line-height22{height: 22px; line-height: 22px;}
.line-height21{height: 21px; line-height: 21px;}
.line-height20{height: 20px; line-height: 20px;}
.line-height19{height: 19px; line-height: 19px;}
.line-height18{height: 18px; line-height: 18px;}
.line-height17{height: 17px; line-height: 17px;}
.line-height16{height: 16px; line-height: 16px;}
.line-height15{height: 15px; line-height: 15px;}
.line-height14{height: 14px; line-height: 14px;}
.line-height13{height: 13px; line-height: 13px;}
.line-height12{height: 12px; line-height: 12px;}
.line-height11{height: 11px; line-height: 11px;}
.line-height10{height: 10px; line-height: 10px;}
.line-90{line-height: 90px;}
.line-80{line-height: 80px;}
.line-75{line-height: 75px;}
.line-70{line-height: 70px;}
.line-60{line-height: 60px;}
.line-50{line-height: 50px;}
.line-49{line-height: 49px;}
.line-48{line-height: 48px;}
.line-47{line-height: 47px;}
.line-46{line-height: 46px;}
.line-45{line-height: 45px;}
.line-44{line-height: 44px;}
.line-43{line-height: 43px;}
.line-42{line-height: 42px;}
.line-41{line-height: 41px;}
.line-40{line-height: 40px;}
.line-39{line-height: 39px;}
.line-38{line-height: 38px;}
.line-37{line-height: 37px;}
.line-36{line-height: 36px;}
.line-35{line-height: 35px;}
.line-34{line-height: 34px;}
.line-33{line-height: 33px;}
.line-32{line-height: 32px;}
.line-31{line-height: 31px;}
.line-30{line-height: 30px;}
.line-29{line-height: 29px;}
.line-28{line-height: 28px;}
.line-27{line-height: 27px;}
.line-26{line-height: 26px;}
.line-25{line-height: 25px;}
.line-24{line-height: 24px;}
.line-23{line-height: 23px;}
.line-22{line-height: 22px;}
.line-21{line-height: 21px;}
.line-20{line-height: 20px;}
.line-19{line-height: 19px;}
.line-18{line-height: 18px;}
.line-17{line-height: 17px;}
.line-16{line-height: 16px;}
.line-15{line-height: 15px;}
.line-14{line-height: 14px;}
.line-13{line-height: 13px;}
.line-12{line-height: 12px;}
.line-11{line-height: 11px;}
.line-10{line-height: 10px;}

/*定位*/
.left0{left: 0px;}

/*透明度*/
.opacity9{filter:alpha(opacity=90); -moz-opacity:0.9;  -khtml-opacity: 0.9;  opacity: 0.9; }
.opacity8{filter:alpha(opacity=80); -moz-opacity:0.8;  -khtml-opacity: 0.8;  opacity: 0.8; }
.opacity7{filter:alpha(opacity=70); -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7; }
.opacity6{filter:alpha(opacity=60); -moz-opacity:0.6;  -khtml-opacity: 0.6;  opacity: 0.6; }
.opacity5{filter:alpha(opacity=50); -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.5; }
.opacity4{filter:alpha(opacity=40); -moz-opacity:0.4;  -khtml-opacity: 0.4;  opacity: 0.4; }
.opacity3{filter:alpha(opacity=30); -moz-opacity:0.3;  -khtml-opacity: 0.3;  opacity: 0.3; }
.opacity2{filter:alpha(opacity=20); -moz-opacity:0.2;  -khtml-opacity: 0.2;  opacity: 0.2; }
.opacity1{filter:alpha(opacity=10); -moz-opacity:0.1;  -khtml-opacity: 0.1;  opacity: 0.1; }


/*文字居中*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*小手*/
.xiaoshou{cursor:pointer;}

/*盒子居中*/
.margin_auto_20{ margin: 20px auto;}
.margin_auto_15{ margin: 15px auto;}
.margin_auto_10{ margin: 10px auto;}
.margin_auto{margin: 0 auto;}

/*文字超出变点*/
.spot_1{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.spot{width:100%; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*转块*/
.display{display:block}
.display-inline{display: inline-block}

/*定位*/
.relative{position: relative}
.absolute{position: absolute}

/*溢出隐藏*/
.overflow{overflow: hidden;}

/*文本缩进*/
.text-indent{text-indent:2em;}